<!-- destination section ================================ -->
<section id="group-rates">
  <div class=" container group-rates text-center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>Group Rates</h1>
        <aside>{hotel_c} <span style="display:{traveldatecss};"> | {trip_date} - {enddate}</span> | The packages are <stong>all-inclusive</strong>, with:</aside>
      </div>
    </div>

    <div class="row t-padding">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="row text-center">
          <div class="col-xs-4">
            <span class="inclusive-icon icon-1"></span><br/>
            <span class="inclusive-names">Unlimited Meals Included!</span>
          </div>

          <div class="col-xs-4">
            <span class="inclusive-icon icon-2"></span><br/>
            <span class="inclusive-names">Unlimited Drinks Included!</span>
          </div>

          <div class="col-xs-4">
            <span class="inclusive-icon icon-3"></span><br/>
            <span class="inclusive-names">Unlimited Alcohol Included!</span>
          </div>
        </div>
      </div>

      <div class="col-sm-5">
      <div class="row text-center">
        <div class="col-xs-4">
          <span class="inclusive-icon icon-4"></span><br/>
          <span class="inclusive-names">Daytime Activities!</span>
        </div>

        <div class="col-xs-4">
          <span class="inclusive-icon icon-5"></span><br/>
          <span class="inclusive-names">Nighttime Entertainment!</span>
        </div>

        <div class="col-xs-4">
          <span class="inclusive-icon icon-6"></span><br/>
          <span class="inclusive-names">Taxes and Fees Included!</span>
        </div>
      </div>
    </div>
    </div>



    <div class="row secured">
      <h2>Our booking agent has also secured the following for our group:</h2>

      <div class="col-sm-5 col-sm-offset-1">
        <div class="row">
          <div class="col-xs-4" style="display:{transfercss};">
            <span>Round-trip Hotel Shuttle</span>
          </div>
          <div class="col-xs-4">
            <span>Exclusive Group Discount</span>
          </div>
          <div class="col-sx-4">
            <span>Low Deposits</span>
          </div>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="row">
          <div class="col-xs-4">
            <span>0% Interest Payment Plans</span>
          </div>
          <div class="col-xs-4">
            <span>Split Payments Allowed</span>
          </div>
          <div class="col-xs-4">
            <span>Price Match Guarantee!</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- {show-vertical}-->
<!-- VERTICAL PACKAGE INFORMATION ====================================== -->
<section id="packages" class="container-space">
    <div class="container">
      <div class="row col-padding-sm-view">
            <div class="col-sm-8 col-sm-offset-2">
              <h3 class="text-center" style="display:{depositcss};">Deposit for any package: {deposits_person}/person.</h3>
                <p class="text-center"><b>Prices last confirmed {date_modified}</b>
                and are <b>subject to change.</b> Rates are not guaranteed until deposits are received.<br>
                <span style="display:{minimum_nights_css};"><b>Minimum Length of Stay - {minimum_nights} nights.</b></span></p>
            </div><!-- .col-sm-8 -->
        </div><!-- .row -->

<!-- START PACKAGES ROW 1----------------- -->
        <div class="row jrow-centered">
            <div class="col-sm-4 white jcol-centered" style="{titlecss1};">
                <div class="pthumbnail" style="display: {package1imageCSS}">
                    <img {src1package}="../images/package1.jpg" class="img-responsive" alt="room picture"/>
                </div>
                <h4>{title1_c}</h4>
                <p>
                <span class="price" style="display:{price1css}">{package_1_price}{pricing_type_1}</span>
                </br></br>
                <a href="#/destination#booking" class="scroll-to"><button>book now!</button></a>
                </br></br>
                {package1_c}</p>
                <div style="opacity: 0; font-size: 14px;">this div makes the table cell 100% so it displays full width at all times</div>
            </div>

            <div class="col-sm-4 white jcol-centered" style="{titlecss2};">
                <div class="pthumbnail" style="display: {package2imageCSS}">
                    <img {src2package}="../images/package2.jpg" class="img-responsive" alt="room picture"/>
                </div>
                <h4>{title2_c}</h4>
                <p>
                <span class="price" style="display:{price2css}">{package_2_price}{pricing_type_2}</span>
                </br></br>
                <a href="#/destination#booking" class="scroll-to"><button>book now!</button></a>
                </br></br>
                {package2_c}</p>
                <div style="opacity: 0; font-size: 14px;">this div makes the table cell 100% so it displays full width at all times</div>
            </div>

            <div class="col-sm-4 white jcol-centered" style="{titlecss3};">
                <div class="pthumbnail" style="display: {package3imageCSS}">
                    <img {src3package}="../images/package3.jpg" class="img-responsive" alt="room picture"/>
                </div>
                <h4>{title3_c}</h4>
                <p>
                <span class="price" style="display:{price3css}">{package_3_price}{pricing_type_3}</span>
                </br></br>
                <a href="#/destination#booking" class="scroll-to"><button>book now!</button></a>
                </br></br>
                {package3_c}</p>
                <div style="opacity: 0; font-size: 14px;">this div makes the table cell 100% so it displays full width at all times</div>
            </div>
        </div><!-- .row first package row -->
    </div><!-- .container first package row -->

<!-- START PACKAGES ROW 2----------------- -->
    <div class="container space">
        <div class="row jrow-centered" style="{titlecss4};">
            <div class="col-sm-4 white jcol-centered" style="{titlecss4};">
                <div class="pthumbnail" style="display: {package4imageCSS}">
                    <img {src4package}="../images/package4.jpg" class="img-responsive" alt="room picture"/>
                </div>
                <h4>{title4_c}</h4>
                <p>
                <span class="price" style="display:{price4css}">{package_4_price}{pricing_type_4}</span>
                </br></br>
                <a href="#/destination#booking" class="scroll-to"><button>book now!</button></a>
                </br></br>
                {package4_c}</p>
                <div style="opacity: 0; font-size: 14px;">this div makes the table cell 100% so it displays full width at all times</div>
            </div>

            <div class="col-sm-4 white jcol-centered" style="{titlecss5};">
                <div class="pthumbnail" style="display: {package5imageCSS}">
                    <img {src5package}="../images/package5.jpg" class="img-responsive" alt="room picture"/>
                </div>
                <h4>{title5_c}</h4>
                <p>
                <span class="price" style="display:{price5css}">{package_5_price}{pricing_type_5}</span>
                </br></br>
                <a href="#/destination#booking" class="scroll-to"><button>book now!</button></a>
                </br></br>
                {package5_c}</p>
                <div style="opacity: 0; font-size: 14px;">this div makes the table cell 100% so it displays full width at all times</div>
            </div>

            <div class="col-sm-4 white jcol-centered" style="{titlecss6};">
                <div class="pthumbnail" style="display: {package6imageCSS}">
                    <img {src6package}="../images/package6.jpg" class="img-responsive" alt="room picture"/>
                </div>
                <h4>{title6_c}</h4>
                <p>
                <span class="price" style="display:{price6css}">{package_6_price}{pricing_type_6}</span>
                </br></br>
                <a href="#/destination#booking" class="scroll-to"><button>book now!</button></a>
                </br></br>
                {package6_c}</p>
                <div style="opacity: 0; font-size: 14px;">this div makes the table cell 100% so it displays full width at all times</div>
            </div>
        </div><!-- .row second package row -->
    </div><!-- .container second package row -->
</section>
<!-- END VERTICAL PACKAGE INFORMATION ====================================== -->
<!--{end-show-vertical}-->


<!-- {show-horizontal}-->
<!-- HORIZONTAL PACKAGE INFORMATION ====================================== -->
<section id="packages">
    <div class="container container-space">
      <div class="row col-padding-sm-view">
            <div class="col-sm-8 col-sm-offset-2">
              <h3 class="text-center" style="display:{depositcss};">Deposit for any package: {deposits_person}/person.</h3>
                <p class="text-center"><b>Prices last confirmed {date_modified}</b>
                and are <b>subject to change.</b> Rates are not guaranteed until deposits are received.<br>
                <span style="display:{minimum_nights_css};"><b>Minimum Length of Stay - {minimum_nights} nights.</b></span></p>
            </div><!-- .col-sm-8 -->
        </div><!-- .row -->

        <div class="row match-my-cols horizontal-package">
            <div class="col-sm-4" style="display: {package1_pic};">
                 <img {src1package}="../images/package1.jpg" class="img-responsive" alt="room picture"/>
            </div><!-- .col-sm-4 -->
            <div class="col-sm-8 {col_offset1}">
                <h4>{title1_c}</h4>
                <p>
                    <span class="price" style="display:{price1css}">{package_1_price}{pricing_type_1}</span>
                </br></br>
                <a href="#/destination#booking" class="scroll-to"><button>book now!</button></a>
                </br></br>
                {package1_c}</p>
            </div><!-- .col-sm-8-->
        </div><!-- .row -->

        <div class="row match-my-cols horizontal-package">
            <div class="col-sm-4" style="display: {package2_pic};">
                 <img {src2package}="../images/package2.jpg" class="img-responsive" alt="room picture"/>
            </div><!-- .col-sm-4 -->
            <div class="col-sm-8 {col_offset2}">
                <h4>{title2_c}</h4>
                <p>
                    <span class="price" style="display:{price2css}">{package_2_price}{pricing_type_2}</span>
                </br></br>
                <a href="#/destination#booking" class="scroll-to"><button>book now!</button></a>
                </br></br>
                {package2_c}</p>
            </div><!-- .col-sm-8-->
        </div><!-- .row -->

        <div class="row match-my-cols horizontal-package">
            <div class="col-sm-4" style="display: {package3_pic};">
                 <img {src3package}="../images/package3.jpg" class="img-responsive" alt="room picture"/>
            </div><!-- .col-sm-4 -->
            <div class="col-sm-8 {col_offset3}">
                <h4>{title3_c}</h4>
                <p>
                    <span class="price" style="display:{price3css}">{package_3_price}{pricing_type_3}</span>
                </br></br>
                <a href="#/destination#booking" class="scroll-to"><button>book now!</button></a>
                </br></br>
                {package3_c}</p>
            </div><!-- .col-sm-8-->
        </div><!-- .row -->

        <div class="row match-my-cols horizontal-package">
            <div class="col-sm-4" style="display: {package4_pic};">
                 <img {src4package}="../images/package4.jpg" class="img-responsive" alt="room picture"/>
            </div><!-- .col-sm-4 -->
            <div class="col-sm-8 {col_offset4}">
                <h4>{title4_c}</h4>
                <p>
                    <span class="price" style="display:{price4css}">{package_4_price}{pricing_type_4}</span>
                </br></br>
                <a href="#/destination#booking" class="scroll-to"><button>book now!</button></a>
                </br></br>
                {package4_c}</p>
            </div><!-- .col-sm-8-->
        </div><!-- .row -->

        <div class="row match-my-cols horizontal-package">
            <div class="col-sm-4" style="display: {package5_pic};">
                 <img {src5package}="../images/package5.jpg" class="img-responsive" alt="room picture"/>
            </div><!-- .col-sm-4 -->
            <div class="col-sm-8 {col_offset5}">
                <h4>{title5_c}</h4>
                <p>
                    <span class="price" style="display:{price5css}">{package_5_price}{pricing_type_5}</span>
                </br></br>
                <a href="#/destination#booking" class="scroll-to"><button>book now!</button></a>
                </br></br>
                {package5_c}</p>
            </div><!-- .col-sm-8-->
        </div><!-- .row -->

        <div class="row match-my-cols horizontal-package">
            <div class="col-sm-4" style="display: {package6_pic};">
                 <img {src6package}="../images/package6.jpg" class="img-responsive" alt="room picture"/>
            </div><!-- .col-sm-4 -->
            <div class="col-sm-8 {col_offset6}">
                <h4>{title6_c}</h4>
                <p>
                    <span class="price" style="display:{price6css}">{package_6_price}{pricing_type_6}</span>
                </br></br>
                <a href="#/destination#booking" class="scroll-to"><button>book now!</button></a>
                </br></br>
                {package6_c}</p>
            </div><!-- .col-sm-8-->
        </div><!-- .row -->
    </div><!-- .containter -->
</section>
<!-- END HORIZONTAL PACKAGE INFORMATION ====================================== -->
<!--{end-show-horizontal}-->


<!-- ADDITIONAL INFORMATION ====================================== -->
<section id="additional-info">
  <div class="container-space text-center additional-info" style="display:{additional_infoCss};">
    <h1>additional information</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>{additional_info}</p>
            </div><!-- .col-sm-8 -->
        </div><!-- .row -->
    </div><!-- .container -->
  </div>
</section><!-- #additional-info-->

<!-- BOOKING INFORMATION ====================================== -->
<section id="booking">
    <div class="container container-space">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>booking</h1>
                <p>We have hired a booking agent to make your travel planning easy.
                  In order to be considered part of our group, please
                  fill out the below forms and our agent, <b>{first_name_user},</b> will contact you to
                  confirm your stay.</p>
                <h4>Group reservation #{booking_number}</h4>
            </div><!-- .col-sm-8 -->
        </div><!-- .row -->

        <div class="row booking-steps jrow-centered">
            <div class="col-sm-4 booking-well jcol-centered">
                <span class="booking-number">1. Rooming Form</span>
                </br></br>
                <p>Please, choose a package that is provided above
                <a><span class="ion-arrow-up-c" id="to-top"></span></a>
                and submit your Rooming Form with your Passenger Info.</p>
                <a href="http://travelzap.com/rooming/?r={booking_number}" target="_blank"><button>Rooming Form</button></a>
            </div>

            <div class="col-sm-4 booking-well jcol-centered" style="{depositCss}">
                <span class="booking-number">2. Deposit</span>
                </br></br>
                <p class="para-bottom">Submit your {deposits_person} deposit Per Person.</p>
                <a href="https://travelzap.com/payments/?r={booking_number}" target="_blank"><button>Deposit</button></a>
            </div>

            <div class="col-sm-4 booking-well jcol-centered" style="{payment_nodepositCss}">
                <span class="booking-number">2. Payment</span>
                </br></br>
                <p class="para-bottom3">Make a payment or set up a payment plan. <strong>Final Payments due {final_payment_due}. </strong></p>
                <a href="https://travelzap.com/payments/?r={booking_number}" target="_blank"><button>Payment</button></a>
            </div>

            <div class="col-sm-4 booking-well jcol-centered" style="{insurancecss}">
                <span class="booking-number">3. Travel Insurance</span>
                </br></br>
                <p class="para-bottom2">This step is optional. Cancel for any reason travel insurance.</p>
                <a href="{insurance}" target="_blank"><button>insurance</button></a>
            </div>
        </div><!-- .row -->
    </div><!-- .container-->
</section>

<!-- FLIGHT INFO ====================================== -->
<section id="flight" style="display:{flightinfocss};">
    <div class="container container-space text-center">
        <h1>Flight Information</h1>
        <div class="row col-padding-sm-view">
            <div class="col-sm-8 col-sm-offset-2">
                <span>Once you book your flight, please submit your flight information</span>
                <a href="{flight_info}" target="_blank"><button>Flight Information</button></a>
            </div>
        </div>
    </div><!-- .container-->
</section>


<!-- PAYMENT ====================================== -->
<section id="payment" style="display:{paymentCss};">
    <div class="container container-space text-center">
        <h1>Payment</h1>
        <div class="row col-padding-sm-view">
            <div class="col-sm-8 col-sm-offset-2">
                <span>Make a payment or set up a payment plan. <strong>Final Payments due {final_payment_due}. </strong></span>
                <a href="https://travelzap.com/payments/?r={booking_number}" target="_blank"><button>Payment</button></a>
            </div>
        </div>
    </div><!-- .container-->
</section>
